@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.card {
    border: 1px solid red;
    border-radius: 15px;
    width: min-content;
    margin: 0;
    padding: 0;
    width: 300px;
}

.card img {
    max-width: 100%;
}

.card figcaption {
    font-size: 3rem;
    font-family: 'Pokemon Solid', sans-serif;
    color: orange;
    text-shadow: 3px 3px 0 blue,
    -3px 3px 0 blue,
    -3px -3px 0 blue,
    3px -3px 0 blue;
}