.notification {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    font-size: 3rem;
    background-color: #555;
    border-radius: 10px;
    padding: 5px 10px;
    border: 3px solid red;
    opacity: 0;
    animation: fade-in-out 4s forwards;
    box-shadow: 0 0 9999px 99999px rgba(0, 0, 0, 0.5);
}

@keyframes fade-in-out {
    0% {
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    30%, 60% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    100% {
        opacity: 0;
    }
}