.start-game-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 60vw;
    align-items: center;
    justify-content: center;
    color: rgb(255, 174, 0);
}

.start-game-container::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/Poké_Ball_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.1;
    z-index: -1;
}

input {
    width: 10rem;
    line-height: 2rem;
    text-align: center;
    background-color: #555;
    color: rgb(255, 174, 0);
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.invalid-input {
    border: 2px solid red;
}

.start-game-container button {
    border: 1px solid rgb(255, 174, 0);
    background-color: #555;
    color: rgb(255, 174, 0);
    font-size: 1.2rem;
}

.start-game-container button:active {
    transform: translateY(2px);
}

.loader{
    display: inline-block;
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }